body {
  padding-top: 53px;
  background-image: url(../app/images/background.jpg);
}

.container {
    width: 1170px;
    max-width: none !important;
}

.no-gutter > [class*='col-'] {
    padding-right:0;
    padding-left:0;
}

.logo {
  width: 170px;
  min-height: 60px;
  background-color: #2f3234;
  text-align: center;
  padding: 12px 13px 4px 13px;
}

.logo-text{
  text-transform: uppercase;
  color: white;
  font-size: 26px;
}

.nav {
  margin-left: 20px;
}

.nav-text {
  text-transform: uppercase;
  font-size: 14px;
}

li a {
  color: black;
}

li a:hover, li a:focus {
  color: black;
}

.nav-tabs>li {
  margin-bottom: 0;
}

.nav-tabs>li>a {
  padding-top: 23px;
  padding-bottom: 20px;
  border: none;
}

.nav .own-active{
  background: none;
  position: relative;
}

.nav .own-active::after {
  content: '';
  position: absolute;
  
  right: 20px;
  bottom: 0px;
  left: 15px;
  
  height: 5px;
  
  background-color: white;
}

.nav-tabs {
    border-bottom: none;
}

.position-slide {
  margin-top: 62px;
}

.carousel-indicators-own .active {
  background-color: #9d0000;
}

.carousel-indicators-own li {
  display: inline-block;
  width: 10px;
  height: 10px;
  text-indent: -999px;
  cursor: pointer;
  background-color: #000 \9;
  background-color: rgba(0,0,0,0);
  border: 1px solid #a5a5a5;
  border-radius: 10px;
}

.carousel-indicators-own{
  text-align: center;
  padding-right: 33px;
  padding-top: 9px;
}

ol, ul {
    margin-bottom: 26px;
}


.carousel-indicators li {
  width: 10px;
  height: 10px;
  margin: 0px;
}

.carousel-indicators .active {
    width: 10px;
    height: 10px;
}

.slide-text {
  text-transform: uppercase;
  margin-left: 901px;
}
.slide-title {
  font-size: 26px;
  background-color: #c33737;
  padding-right: 15px;
  margin-left: 55px;
  padding-bottom: 10px;
  padding-top: 10px;
  margin-bottom: 0px;
}

.slide-description {
  font-size: 18px;
  background-color: #2f3234;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
  
}


.carousel-caption-own {
    position: absolute;
    /* right: 15%; */
    bottom: 110px;
    /* left: 15%; */
    z-index: 10;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #fff;
    text-align: right;
    text-shadow: 0 1px 2px rgba(0,0,0,.6);
}



.info-btn {
    position: relative;
    
    display: inline-block;
    width: 80px;
    height: 80px;
    cursor: pointer;
    background-color: #000 \9;
    background-color: rgba(0,0,0,0);
    border: 2px solid #bcbcbc;
    border-radius: 60px;
    margin-left: 10px;
}

.info-btn:first-child {
    margin-left: 0;
}

.info-btn-0:before {
    content: '';
    position: absolute;
    top: 29px;
    left: 30px;
    
  
    width: 20px;
    height: 20px;
    background-image: url(../app/images/spritesheet.png);
    background-position: -6px -6px;
}

  .info-btn-1:before {
    content: '';
    position: absolute;
    top: 30px;
    left: 29px;
    
  
    width: 20px;
    height: 20px;
    background-image: url(../app/images/spritesheet.png);
    background-position: -6px -36px;
}


.info-btn-2:before {
    content: '';
    position: absolute;
    top: 29px;
    left: 32px;
    
  
    width: 20px;
    height: 20px;
  
    background-image: url(../app/images/spritesheet.png);
    background-position: -6px -66px;
}

.text-info {
  font-size: 24px;
  color: #727272;
  line-height: 30px;
  letter-spacing: 1px;
}

.title-info {
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 0;
  color: black;
}

.position-info {
  padding-top: 35px;
}

.b-content {
  background-color: #2f3234;
  width: 630px;
  height: 240px;
  padding-left: 30px;
}

.position-img {
  margin-left: 0;
  margin-right: 0;
  width: 270px;
  
}

.col-xs-9 >.row {
  margin-left: 0;
  margin-right: 0;
}
.line-pos {
  position: relative;
  z-index: 0;
}

.line-content:before {
  content: '';
  position: absolute;
  
  background:#4b4d4f;
  width: 630px;
  height: 1px;
}

.text-content >h2 {
  color: white;
  font-size: 22px;
  text-transform: uppercase;
  margin-bottom: 2px;
}

.text-content >h3 {
  color: #743435;
  font-size: 20px;
  margin-top: 2px;
}
.text-content >p {
  color: #6d6f71;
  font-size: 15px;
  margin-top: 20px;
}

.text-content {
  padding-left: 30px;
  padding-top: 30px;
  padding-right: 75px;
}


.link-btn:hover {
  color: white;
  text-decoration: none;
}

.link-btn:focus {
  color: white;
  text-decoration: none;
}


.rectangle {
  background-color: #2f3234;
  border: 1px solid #4b4d4f;
  width: 77px;
  height: 30px;
}

.circle {
  position: relative;
  width: 12px;
  height: 12px;
  background: #c33737;
  border-radius: 12px;
  bottom: 16px;
  left: 52px;
}

.circle:before,
.circle:after {
  content: '';
  position: absolute;
  width: 6px;
  height: 2px;
  background-color: #2f3234;
  top: 5px;
  left: 3px;
}

.circle:before {
   transform: rotate(90deg)
}

.link-btn {
  display: block;
  padding-top: 4px;
  padding-left: 5px;
  text-decoration: none;
  color: white;
  font-weight: 700;
}
.position-content {
  position: relative;
  margin-top: 110px;
}